/* Styles for Gitnu */
.content div {
  font-family: 'Helvetica', arial;
  font-size: 16px;
}

.modal div {
  color: #333333;
  font-family: 'Helvetica', arial;
}

#container {
  margin-top: 54px;
  position: absolute;
  top: 0px;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

#container div, input, output {
  font-size: 14px;
}

.logo {
  color: #FFFFFF; 
  background: none; 
  border: none;
}

.ls-files {
  -webkit-column-count: 3;
}

.help-list td {
  padding-left: 10px;
  padding-right: 10px;
}